@use "./placeholders";

.screen-container {
    grid-column: span 2;
}

.screen {
    @extend %screen;

    width: 100%;
    height: 90%;
    border-radius: 5px;
    padding: 10px;

    h3 {
        font-size: 32px;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: currentColor;
            margin: 3px 0 6px;
            opacity: 0.5;
            box-shadow: var(--screen-glow);
        }
    }
}
