*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

body {
    display: flex;
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: radial-gradient(circle, #222, #111) */
}

.keyboard {
    min-width: 1280px;
    max-width: 1280px;
    height: 40vh;
    margin: auto
}

.controls #wave-forms label {
    display: block
}

.controls #filterAmount {
    width: 300px
}

.keys {
    position: relative;
    height: 35%
}

.keys .key {
    border: none;
    border: 1px solid #333;
    border-radius: 0 0 2px 2px;
    cursor: pointer
}

.keys .key:not(.keys .key.sharp) {
    width: 2%;
    height: 100%;
    background-color: #fff
}

.keys .key:not(.keys .key.sharp).playing {
    background-image: linear-gradient(#fff, #f2f2f2)
}

.keys .key.sharp {
    position: absolute;
    width: 1%;
    height: 65%;
    transform: translateX(-50%);
    background-color: #333
}

.keys .key.sharp.playing {
    background-image: linear-gradient(#333, #1a1a1a)
}